* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A2847;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

header {
    background-color: #1A2847;
}

.navbar {
    padding: 1.5rem 0;
}

.navbar-brand {
    font-size: 1.2rem;
}

.nav-link {
    color: #E2E8F0;
    margin: 0 0.5rem;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #3B82F6;
}

.nav-link.active {
    background-color: #3B82F6;
    color: white ;
}